<body>

<div class = "container">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel><span class = "formLabel">Fill out your username</span></ng-template>
        <mat-form-field appearance="outline" class="input-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" [(ngModel)]="newUser.username" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel><span class = "formLabel">Fill out your password</span></ng-template>
        <mat-form-field appearance="outline" class="input-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Make it strong!" [(ngModel)]="newUser.password" [ngModelOptions]="{standalone: true}">
            <mat-hint>E.g.skilldistillery@sd.com</mat-hint>
          </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel><span class = "formLabel">Fill out your email</span></ng-template>
          <mat-form-field class="emailInput" appearance="outline" class="input-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Placeholder" [(ngModel)]="newUser.email" [ngModelOptions]="{standalone: true}">
              <mat-hint>E.g.skilldistillery@sd.com</mat-hint>
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious (click)="addUser(newUser)">Sign Up</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>


    <br>
      <div *ngIf="selected">
            <button (click)="displayTable()" class="btn btn-danger">Display All User</button>
     </div>
    <div *ngIf="!createNewUser && !selected">
        <button (click)="createNewUserItem()" class="btn btn-danger">Create New User</button>
      </div>
    <br>

  <table *ngIf="!selected && !createNewUser" class = "table table-striped table-dark">
    <thead class = "thead-dark">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td><h3>{{user.id}}</h3></td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>{{user.email}}</td>
        <td><button (click)="displayUser(user)" class="btn btn-success">Detailed View</button></td>
        <td><button (click)="destroyUser(user)" class="btn btn-success">Destroy</button></td>
      </tr>
    </tbody>
  </table>

<table *ngIf="selected && !editUser" class = "table table-striped table-dark">
      <thead class = "thead-dark">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><h3>{{selected.id}}</h3></td>
          <td>{{selected.username}}</td>
          <td>{{selected.password}}</td>
          <td>{{selected.email}}</td>
          <td><button (click)="setEditUser()" class="btn btn-success">Edit</button></td>
        </tr>
      </tbody>
    </table>

  <div *ngIf="selected && editUser">
  <form #editUser= "ngForm">
      <div class="form-group">
      Username<input type="text" name="username" [ngModel]="selected.username" ngModel/><br />
      </div>
     <div class="form-group">
    Password<input type="text" name="password" [ngModel]="selected.password" ngModel/><br />
    </div>
    <div class="form-group">
    Email <input type="text" name="email" [ngModel]="selected.email" ngModel/><br />
    </div>
     <button (click)="updateUser(editUser)" class="btn btn-success">Update</button>&nbsp;
      <button (click)="resetUser()" class="btn btn-danger">Cancel</button>
    </form>
  </div>

    <!-- <div *ngIf="createNewUser" class="container">
      <h1>New User</h1>
      <form #newUser = "ngForm">
          <div class="row">
            <div class="col">
                <div class="form-group">
                    Username:
                    <input type="text" class="form-control" name="username" ngModel/>
                  </div>
            </div>
            <div class="col">
              <div class="form-group">
                Password:
                <input type="text" class="form-control" name="password" ngModel/>
              </div>
            </div>
              <div class="col">
                <div class="form-group">
                Email:
                  <input type="text" class="form-control" name="email"  ngModel/>
                </div>
              </div>
              </div>
      </form>
      <button (click)="addUser(newUser)" class="btn btn-success">Add User</button>&nbsp;
      <button (click)="displayTable()" class="btn btn-success">Back</button>
      </div> -->


    </div>
  </body>
