<body>

<div class = "container">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel><span class = "formLabel">Fill out your username</span></ng-template>
        <mat-form-field appearance="outline" class="input-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" [(ngModel)]="newUser.username" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel><span class = "formLabel">Fill out your password</span></ng-template>
        <mat-form-field appearance="outline" class="input-width">
            <mat-label>Password</mat-label>
           <input matInput placeholder="Make it strong!" [(ngModel)]="newUser.password" [ngModelOptions]="{standalone: true}">
            <mat-hint>6-13 characters including 1 alphanumeric</mat-hint>
          </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>&nbsp;
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel><span class = "formLabel">Fill out your email</span></ng-template>
          <mat-form-field class="emailInput" appearance="outline" class="input-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Placeholder" [(ngModel)]="newUser.email" [ngModelOptions]="{standalone: true}">
              <mat-hint>E.g.skilldistillery@sd.com</mat-hint>
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          <div>
            <button mat-raised-button color="primary" matStepperPrevious>Back</button>&nbsp;
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-raised-button color="primary" matStepperPrevious (click)="addUser(newUser)">Sign Up</button>&nbsp;
        <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

    </div>
  </body>
