<h3>Add Income/Expenses/Budgets</h3>
<ngb-accordion [closeOthers]="true" >
    <ngb-panel id="static-1" title="Add Income">
      <ng-template ngbPanelContent>
          <ngb-tabset>
              <ngb-tab title="Single Income">
                <ng-template ngbTabContent>
                    <form #createIncomeRecord="ngForm">
                        Amount: <input type="number" name="amount" placeholder="amount" required ngModel /> <br>
                        Date Received: <input type="date" name="dateReceived" placeholder="date" required ngModel/> <br>
                            Category: <select name="category" required ngModel>
                                 <option *ngFor="let category of incomeCategories" >{{category.name}}</option>
                               </select> <br>
                         <button type = "submit" (click) = "createNewIncome(createIncomeRecord)">Add New Record</button>
                       </form>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>Income Stream</ng-template>
                <ng-template ngbTabContent>
                    <form #createIncomeStreamRecord="ngForm">
                       Amount: <input type="number" name="expectedAmount" placeholder="Expected Amount" ngModel /> <br>
                       Start Date: <input type="date" name="startDate" placeholder="Start Date" ngModel/> <br>
                        Yearly Occurences: <input type="number" name="yearlyOccurrences" placeholder="Yearly Occurrences" ngModel/> <br>
                           Category: <select name="category" ngModel>
                                <option *ngFor="let category of incomeCategories" >{{category.name}}</option>
                              </select> <br>
                        <button type = "submit" (click) = "createNewIncomeStream(createIncomeStreamRecord)">Add New Record</button>
                      </form>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2" title = "Expenses">
      <!-- <ng-template ngbPanelTitle>
        <span> <b>Fancy</b> </span>
      </ng-template> -->
      <ng-template ngbPanelContent>
          <ngb-tabset>
              <ngb-tab title="Single Expense">
                <ng-template ngbTabContent>
                    <form #createExpenseRecord="ngForm">
                        Amount:
                        <input type="text" name="amount" placeholder="amount" ngModel/> <br>
                        Category:
                            <select name="category" ngModel>
                              <option *ngFor="let category of expenseCategories" >{{ category.name }}</option>
                            </select> <br>
                       Payment Date:
                       <input type="date" name="date" placeholder="date" ngModel/> <br>
                        Description:
                        <input type="text" name="description" placeholder="description" ngModel/> <br>
                        <button (click)="createNewExpense(createExpenseRecord)">Create New Record</button>
                      </form>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>Future Expense/Recurring</ng-template>
                <ng-template ngbTabContent>
                    <form #createFutureExpenseRecord="ngForm">
                        Amount:
                        <input type="number" name="amount" placeholder="amount" ngModel/> <br>
                        Date:
                        <input type="date" name="expectedDate" placeholder="expectedDate" ngModel/><br>
                        Category:
                          <select name="category" ngModel>
                            <option *ngFor="let category of expenseCategories" >{{ category.name }}</option>
                          </select>

                        Description: <input type="text" name="description" placeholder="description" ngModel/><br>
                        <span> Recurring: <input type="checkbox" name="recurring" ngModel/></span>    <br>
                        <button (click)="createNewFutureExpense(createFutureExpenseRecord)">Create New Record</button>
                        <br>
                      </form>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-3" title="Budgets" [disabled]="false">
      <ng-template ngbPanelContent>
          <div class="container">
              <form #newBudget = "ngForm">
                  <div class="row">
                    <div class="col">
                        <div class="form-group">
                        Category
                        <select name="category" ngModel>
                          <option *ngFor="let category of expenseCategories" [value]="category.name">{{ category.name }}</option>
                          </select><br>
                          </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        Amount:
                        <input type="number" class="form-control" name="amount" ngModel/>
                      </div>
                    </div>
                      <div class="col">
                        <div class="form-group">
                        Start Date:
                          <input type="date" class="form-control" name="startDate"  ngModel/>
                        </div>
                      </div>
                        <div class="col">
                        <div class="form-group">
                        End Date:
                          <input type="date" class="form-control" name="endDate"ngModel/>
                        </div>
                    </div>
                  </div>
                    <div class="form-group">
                      Description:
                      <input type="text" class="form-control" name="description" placeholder="Description" ngModel/>
                    </div>
                    <button (click)="addBudget(newBudget)" class="btn btn-success">Add Budget</button>&nbsp;
              </form>
              </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

