<div class = "background">
  <h1 mat-dialog-title class="dialogTitle" > Confirm {{data.catType}}? </h1>
  <div mat-dialog-content class="dialogContent">
    <h5>Category: {{data.cat}}</h5>
    <h5>Transaction Amount: {{data.amount}}</h5>
    <p *ngIf="data.desc">Description: {{data.desc}}</p>

    <section class="example-section">
      Confirm:
      <mat-checkbox class="example-margin" [(ngModel)]="data.checked"></mat-checkbox>
    </section>
  </div>
  <div mat-dialog-actions class="dialogButton">
    <button mat-button [mat-dialog-close]="data.checked" cdkFocusInitial>Ok</button>
  </div>
</div>
