
  <body>
  <section class ="banner">
    </section>

    <section id = "aboutUs">
        <div class = "darkSection">
          <h1>Who are we</h1><br>
        <p>Blindr was made for people who want more out of their dating site than just random singles in their area.
        Deep, meaningful connections are built on common interests and shared experience. </p>
        <p>A great first date can set the stage for a lasting relationship, or just leave a lasting memory of that one special night.
        Our mission is to connect people and events to create that spark.  </p>
        <h4>Where you take things is completely up to you!</h4>
          </div>

          <div class="lightSection team">
                <h1>TEAM</h1><br>
        <div class = "row">
          <div class="col-lg-4 col-4">
          <div style="width: 16.2rem;">
            <img class="card-img-top" src="../images/wilson.jpg" alt="Card image cap">
              <br><br>
              <p class="card-text">WILSON LOU</p>
               <span>Likes: Football <br>Hates: People who call football "soccer."</span>
            </div>
            </div>
          <div class="col-lg-4 col-4">
          <div style="width: 16rem;">
            <img class="card-img-top" src="../images/jeremy.jpg" alt="Card image cap">
              <br><br>
              <p class="card-text">JEREMY BOTTA</p>
              <span>Likes: databases. <br>Hates: bagels with no holes.</span>
            </div>
          </div>
          <div class="col-lg-4 col-4">
          <div style="width: 16rem;">
            <img class="card-img-top" src="../images/tom.jpg" alt="Card image cap">
            <br><br>
              <p class="card-text">THOMAS BRODERICK</p>
              <span>Likes: Brazilian Jiu-Jitsu.<br> Hates: traffic.</span>
            </div>
          </div>
        </div>
        </div>
        </section>

        <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>

      </body>

