.banner {
	background: url(/assets/images/money.jpg);
	background-attachment: fixed center;
	background-repeat: no-repeat;
	min-height: 680px;
	background-size: cover;
	color: black;
	text-align: center;
}

.darkSection {
  background:indigo;
}

agm-map {
  height: 300px;
}

body {
  text-align:center;
}

.example-card {
  max-width: 350px;
}

mat-card {
  margin:25px;
}

#teamRow {
  margin-left:100px;
}
