.banner {
	background: url(/assets/images/money.jpg);
	background-attachment: fixed bottom;
	background-repeat: no-repeat;
	min-height: 680px;
	background-size: cover;
	color: black;
  text-align: center;
  margin:0;
}

.darkSection {
  background:indigo;
  text-align: center;
}

agm-map {
  height: 300px;
}

body {
  text-align:center;
}

.example-card {
  max-width: 320px;
  max-height:500px;
}

.cardImg {
  max-width:320px;
  max-height:120px;
}

mat-card {
  margin:25px;
  background:darkorchid;
}

#teamRow {
  justify-content: center;
}
