
  <body>
  <section class ="banner">
    </section>

    <div class="darkSection team">
      <br><br><br>
      <h1>DREAM TEAM</h1><br>
<div class = "row" id="teamRow">

  <mat-card class="example-card">
      <mat-card-title>WILSON LOU</mat-card-title>
    <img mat-card-image src="assets/images/wilson.jpg">
    <mat-card-content>
        <img mat-card-image class="cardImg" src="assets/images/uk.png">
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
      <mat-card-title>JOSEPH DIBIASI</mat-card-title>
    <img mat-card-image src="assets/images/joseph.png">
    <mat-card-content>
        <img mat-card-image class="cardImg" src="assets/images/usa.png">
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
      <mat-card-title>ALEX MURPHY</mat-card-title>
    <img mat-card-image src="assets/images/alex.png">
    <mat-card-content>
        <img mat-card-image class="cardImg" src="assets/images/usa.png">
    </mat-card-content>
  </mat-card>
</div>
</div>

        <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
      </body>

