<button mat-stroked-button (click)="toggleExpensesTable()">Expense Table</button>
<button mat-stroked-button (click)="toggleFutureExpensesTable()">Future Expense Table</button>
<button mat-stroked-button (click)="toggleBudgetsTable()">Budget Table</button>
<button mat-stroked-button (click)="toggleIncomesTable()">Income Table</button>
<button mat-stroked-button (click)="toggleIncomeStreamsTable()">Incomes Stream Table</button>


<div *ngIf="loadedStartDate">
  <mat-form-field>
    <input matInput [matDatepicker]="picker3" placeholder="Start Date" [(ngModel)]="startDate" [value]="startDate.value">
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="End Date" [(ngModel)]="endDate" [value]="endDate.value">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <button (click)="findExpensesBetweenDates(); findIncomesBetweenDates(); findBudgetsBetweenDates(); showAll = false">Click</button>
</div>
<button (click)="showAll = true">Show All</button>

<!-- Expenses table -->
<div *ngIf="showAll">
  <div *ngIf="showExpensesTable">
    <h3>Expenses</h3>

    <mat-form-field>
        <mat-select placeholder="Category" [formControl]="expensesCategories" [(value)]='selectedExpenseCategories' multiple (selectionChange)='setExpenseCategoryFilter()'>
          <mat-option *ngFor="let category of expenseCategorySelector" [value]='category.name'>{{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>

    <mat-paginator [length]="expenses.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event; filterExpensesList($event)"></mat-paginator>

    <mat-table class="all-data-table" [dataSource]="filteredExpenses" matSort (matSortChange)="sortExpenses($event)" class="mat-elevation-z8">
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header="amount">Amount</mat-header-cell>
        <mat-cell *matCellDef="let expense">{{expense.amount}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="expenseCategory">
        <mat-header-cell *matHeaderCellDef mat-sort-header="expenseCategory.name">Category</mat-header-cell>
        <mat-cell *matCellDef="let expense">{{expense.expenseCategory.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header="date">Date</mat-header-cell>
        <mat-cell *matCellDef="let expense">{{expense.date | date:'mediumDate'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let expense">{{expense.description}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsExpenses"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumnsExpenses" (click)="onExpenseRowClicked(row)"></mat-row>


    </mat-table>
  </div>
</div>

<!-- expenses by date -->
<div *ngIf="!showAll">
  <div *ngIf="showExpensesByDateTable">
    <mat-paginator [length]="expensesByDate.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event; filterExpensesByDateList($event)"></mat-paginator>

    <mat-table class="all-data-table" [dataSource]="filteredExpensesByDate" matSort (matSortChange)="sortExpensesByDate($event)" class="mat-elevation-z8">
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header="amount">Amount</mat-header-cell>
        <mat-cell *matCellDef="let expense">{{expense.amount}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="expenseCategory">
        <mat-header-cell *matHeaderCellDef mat-sort-header="expenseCategory.name">Category</mat-header-cell>
        <mat-cell *matCellDef="let expense">{{expense.expenseCategory.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header="date">Date</mat-header-cell>
        <mat-cell *matCellDef="let expense">{{expense.date | date:'mediumDate'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let expense">{{expense.description}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsExpensesByDate"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumnsExpensesByDate" (click)="onExpenseRowClicked(row)"></mat-row>


    </mat-table>
  </div>
</div>

<!-- Future expenses table -->
<div *ngIf="showFutureExpensesTable">
  <h3>Future Expenses</h3>
  <mat-paginator [length]="futureExpenses.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event; filterFutureExpensesList($event)"></mat-paginator>

  <mat-table class="all-data-table" [dataSource]="filteredFutureExpenses" matSort (matSortChange)="sortFutureExpenses($event)" class="mat-elevation-z8">

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header="amount">Amount</mat-header-cell>
      <mat-cell *matCellDef="let futureExpense">{{futureExpense.amount}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="expenseCategory">
      <mat-header-cell *matHeaderCellDef mat-sort-header="expenseCategory.name">Category</mat-header-cell>
      <mat-cell *matCellDef="let futureExpense">{{futureExpense.expenseCategory.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="expectedDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header="expectedDate">Date</mat-header-cell>
      <mat-cell *matCellDef="let futureExpense">{{futureExpense.expectedDate | date:'mediumDate'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="recurring">
      <mat-header-cell *matHeaderCellDef>Recurring</mat-header-cell>
      <mat-cell *matCellDef="let futureExpense">{{futureExpense.recurring}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let futureExpense">{{futureExpense.description}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsFutureExpenses"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumnsFutureExpenses" (click)="onFutureExpenseRowClicked(row)"></mat-row>


  </mat-table>
</div>

<!-- Budget table -->
<div *ngIf="showAll">
  <div *ngIf="showBudgetsTable">
    <h3>Budget</h3>
    <mat-paginator [length]="budgets.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event; filterBudgetList($event)"></mat-paginator>

    <mat-table class="all-data-table" [dataSource]="filteredBudgets" matSort (matSortChange)="sortBudgets($event)" class="mat-elevation-z8">

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header="amount">Amount</mat-header-cell>
        <mat-cell *matCellDef="let budget">{{budget.amount}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="expenseCategory">
        <mat-header-cell *matHeaderCellDef mat-sort-header="expenseCategory.name">Category</mat-header-cell>
        <mat-cell *matCellDef="let budget">{{budget.expenseCategory.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header="startDate">Start Date</mat-header-cell>
        <mat-cell *matCellDef="let budget">{{budget.startDate | date:'mediumDate'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header="endDate">End Date</mat-header-cell>
        <mat-cell *matCellDef="let budget">{{budget.endDate | date:'mediumDate'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let budget">{{budget.description}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsBudgets"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumnsBudgets" (click)="onBudgetRowClicked(row)"></mat-row>


    </mat-table>
  </div>
</div>
<div *ngIf="!showAll">
  <div *ngIf="showBudgetsTableByDate">
    <h3>Budget</h3>
    <mat-paginator [length]="budgetsByDate.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event; filterBudgetListByDate($event)"></mat-paginator>

    <mat-table class="all-data-table" [dataSource]="filteredBudgetsByDate" matSort (matSortChange)="sortBudgetsByDate($event)" class="mat-elevation-z8">

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header="amount">Amount</mat-header-cell>
        <mat-cell *matCellDef="let budget">{{budget.amount}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="expenseCategory">
        <mat-header-cell *matHeaderCellDef mat-sort-header="expenseCategory.name">Category</mat-header-cell>
        <mat-cell *matCellDef="let budget">{{budget.expenseCategory.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header="startDate">Start Date</mat-header-cell>
        <mat-cell *matCellDef="let budget">{{budget.startDate | date:'mediumDate'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header="endDate">End Date</mat-header-cell>
        <mat-cell *matCellDef="let budget">{{budget.endDate | date:'mediumDate'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let budget">{{budget.description}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsBudgetsByDate"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumnsBudgetsByDate" (click)="onBudgetRowClicked(row)"></mat-row>


    </mat-table>
  </div>
</div>

<!-- Incomes table -->
<div *ngIf="showAll">
  <div *ngIf="showIncomesTable">
    <h3>Income</h3>
    <mat-paginator [length]="incomes.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event; filterIncomesList($event)"></mat-paginator>

    <mat-table class="all-data-table" [dataSource]="filteredIncomes" matSort (matSortChange)="sortIncomes($event)" class="mat-elevation-z8">

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header="amount">Amount</mat-header-cell>
        <mat-cell *matCellDef="let incomes">{{incomes.amount}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="incomeCategory">
        <mat-header-cell *matHeaderCellDef mat-sort-header="incomeCategory.name">Category</mat-header-cell>
        <mat-cell *matCellDef="let incomes">{{incomes.incomeCategory.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateReceived">
        <mat-header-cell *matHeaderCellDef mat-sort-header="dateReceived">Date</mat-header-cell>
        <mat-cell *matCellDef="let incomes">{{incomes.dateReceived | date:'mediumDate'}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsIncomes"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumnsIncomes" (click)="onIncomeRowClicked(row)"></mat-row>


    </mat-table>
  </div>
</div>


<div *ngIf="!showAll">
  <div *ngIf="showIncomesTableByDate">
    <h3>Income</h3>
    <mat-paginator [length]="incomesByDate.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event; filterIncomesListByDate($event)"></mat-paginator>

    <mat-table class="all-data-table" [dataSource]="filteredIncomesByDate" matSort (matSortChange)="sortIncomesByDate($event)" class="mat-elevation-z8">

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header="amount">Amount</mat-header-cell>
        <mat-cell *matCellDef="let incomes">{{incomes.amount}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="incomeCategory">
        <mat-header-cell *matHeaderCellDef mat-sort-header="incomeCategory.name">Category</mat-header-cell>
        <mat-cell *matCellDef="let incomes">{{incomes.incomeCategory.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateReceived">
        <mat-header-cell *matHeaderCellDef mat-sort-header="dateReceived">Date</mat-header-cell>
        <mat-cell *matCellDef="let incomes">{{incomes.dateReceived | date:'mediumDate'}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsIncomesByDate"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumnsIncomesByDate" (click)="onIncomeRowClicked(row)"></mat-row>


    </mat-table>
  </div>
</div>

<!-- Income Streams table -->
<div *ngIf="showIncomeStreamsTable">
  <h3>Income Streams</h3>
  <mat-paginator [length]="incomeStreams.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event; filterIncomeStreamsList($event)"></mat-paginator>

  <mat-table class="all-data-table" [dataSource]="filteredIncomeStreams" matSort (matSortChange)="sortIncomeStreams($event)" class="mat-elevation-z8">

    <ng-container matColumnDef="expectedAmount">
      <mat-header-cell *matHeaderCellDef mat-sort-header="expectedAmount">Expected Amount</mat-header-cell>
      <mat-cell *matCellDef="let incomeStream">{{incomeStream.expectedAmount}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="incomeCategory">
      <mat-header-cell *matHeaderCellDef mat-sort-header="incomeCategory.name">Category</mat-header-cell>
      <mat-cell *matCellDef="let incomeStream">{{incomeStream.incomeCategory.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header="startDate">Date</mat-header-cell>
      <mat-cell *matCellDef="let incomeStream">{{incomeStream.startDate | date:'mediumDate'}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsIncomeStreams"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumnsIncomeStreams" (click)="onIncomeStreamRowClicked(row)"></mat-row>


  </mat-table>
</div>


<script src="js/main.js"></script>
