<div class = "container">

    <br>
      <div *ngIf="selected">
            <button (click)="displayTable()" class="btn btn-danger">Display All Budget</button>
     </div>
    <div *ngIf="!createNewBudget && !selected">
        <button (click)="createNewBudgetItem()" class="btn btn-danger">Create New Budget</button>
      </div>
    <br>

  <table *ngIf="!selected && !createNewBudget" class = "table table-striped table-dark">
    <thead class = "thead-dark">
      <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let budget of budgets">
        <td><h3>{{budget.id}}</h3></td>
        <td>{{budget.expenseCategory.name}}</td>
        <td>{{budget.amount}}</td>
        <td>{{budget.startDate}}</td>
        <td>{{budget.endDate}}</td>
        <td>{{budget.description}}</td>
        <td><button (click)="displayBudget(budget)" class="btn btn-success">Detailed View</button></td>
        <td><button (click)="destroyBudget(budget)" class="btn btn-success">Destroy</button></td>
      </tr>
    </tbody>
  </table>

<table *ngIf="selected && !editBudget" class = "table table-striped table-dark">
      <thead class = "thead-dark">
        <tr>
          <th>ID</th>
          <th>Category</th>
          <th>Amount</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><h3>{{selected.id}}</h3></td>
          <td>{{selected.expenseCategory.name}}</td>
          <td>{{selected.amount}}</td>
          <td>{{selected.startDate}}</td>
          <td>{{selected.endDate}}</td>
          <td>{{selected.description}}</td>

          <td><button (click)="setEditBudget()" class="btn btn-success">Edit</button></td>
        </tr>
      </tbody>
    </table>

  <div *ngIf="selected && editBudget">
  <form #editBudget = "ngForm">
     Category
     <select name="categoryName" ngModel>
     <option *ngFor="let category of expenseCategories" [value]="category.name">{{ category.name }}</option>
     </select><br>
    Amount<input type="number" name="amount" [ngModel]="selected.amount" ngModel/><br />
    <div class="form-group">
    Start Date <input type="date" name="startDate" [ngModel]="selected.startDate" ngModel/><br />
    </div>
    <div class="form-group">
    End Date<input type="date" name="endDate" [ngModel]="selected.endDate" ngModel/><br /><br>
  </div>
    Description<input type="text" name="description" [ngModel]="selected.description" ngModel/><br /><br>
     <button (click)="updateBudget(editBudget)" class="btn btn-success">Update</button>&nbsp;
      <button (click)="resetBudget()" class="btn btn-danger">Cancel</button>
    </form>
  </div>

  <!-- create new budget form -->

    <div *ngIf="createNewBudget" class="container">
      <h1>New Budget</h1>
      <form #newBudget = "ngForm">
          <div class="row">
            <div class="col">
                <div class="form-group">
                Category
                <select name="categoryName" ngModel>
                  <option *ngFor="let category of expenseCategories" [value]="category.name">{{ category.name }}</option>
                  </select><br>
                  </div>
            </div>
            <div class="col">
              <div class="form-group">
                Amount:
                <input type="number" class="form-control" name="amount" ngModel/>
              </div>
            </div>
              <div class="col">
                <div class="form-group">
                Start Date:
                  <input type="date" class="form-control" name="startDate"  ngModel/>
                </div>
              </div>
                <div class="col">
                <div class="form-group">
                End Date:
                  <input type="date" class="form-control" name="endDate"ngModel/>
                </div>
            </div>
          </div>
            <div class="form-group">
              Description:
              <input type="text" class="form-control" name="description" placeholder="Description" ngModel/>
            </div>
      </form>
      <button (click)="addBudget(newBudget)" class="btn btn-success">Add Budget</button>&nbsp;
      <button (click)="displayTable()" class="btn btn-success">Back</button>
      </div>


    </div>
