mat-sidenav {
  width:150px;
  background-color:indigo	;
  color:white;
  text-align: center;
}

h3 {
  background-color:black;
  text-align:center;
  text-transform:uppercase;
  height:50px;
  padding-top:10px;
}

button, a {
  color:white;
  text-transform:uppercase;
}

backgroundMain {
  background-color:black;
}

span {
  text-align:center;
  justify-content: center;
}
