<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  </head>
<mat-toolbar color="primary">
<mat-toolbar-row>
    <span>    Welcome to Moonlight Confetti Personal Finance!
      <i class="fas fa-moon fa-lg" ></i>&nbsp;
      <i class="fas fa-dollar-sign fa-lg"></i>&nbsp;
      <i class="fas fa-euro-sign fa-lg"></i>&nbsp;
      <i class="fas fa-pound-sign fa-lg"></i>&nbsp;
      <i class="fab fa-btc fa-lg"></i>&nbsp;
      <i class="fas fa-yen-sign fa-lg"></i>&nbsp;


    </span>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      <br>
      <button mat-raised-button color="primary"><a [routerLink]="[{outlets:{home:['home'], user:null, formInput:null}}]">Home</a></button><br><br>
      <button mat-raised-button color="primary"><a [routerLink]="[{outlets:{user:['user'], formInput:null, home:null}}]">Sign Up</a></button><br><br>
      <button mat-raised-button color="primary"><a [routerLink]="[{outlets:{formInput:['formInput'], user:null, home:null}}]">Expenses</a></button><br><br>
      <button mat-raised-button color="primary"><a [routerLink]="['/chart']">Chart</a></button><br><br>
      <button mat-raised-button color="primary"><a [routerLink]="['/account']">Account</a></button><br><br>
      <button mat-raised-button color="primary"><a [routerLink]="['/home']">Logout</a></button><br><br>
    </mat-sidenav>
    <body>

<div class="container">
  <br>
  <div class="row">
      <div class="col-lg-12">
          <router-outlet name="home"></router-outlet>
          <router-outlet name="user"></router-outlet>
        </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
          <router-outlet name="formInput"></router-outlet>
    </div>

    <div class="col-lg-6">
        <router-outlet></router-outlet>

<!-- <app-expense>  expense...</app-expense> -->
<!-- <app-income>loading income...</app-income> -->
<!-- <app-user>loading user...</app-user> -->
<!-- <app-user>loading user...</app-user> -->
<!-- <app-future-expense>loading future expenses</app-future-expense> -->
    </div>
  </div>
  <div class="row">
  <div class="col-lg-12">

    </div>
  </div>
</div>
</body>

